:host {
    max-width: calc(100% - 2rem);
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: block;
}

.users-controls {
    margin-bottom: 1rem;
    overflow: hidden;
}

.users-controls__item {
    border: none;
    border-bottom: 2px solid #000;
    font-size: .75rem;
    padding: .25rem;
    width: 100%;
    margin-bottom: .5rem;
}

.users-controls__item:focus {
    outline: none;
}

.users-controls__item--select {
    cursor: pointer;
}

@media(min-width: 768px) {
    :host {
        max-width: 75%;
    }

    .users-controls {
        display: flex;
        justify-content: space-between;
    }

    .users-controls__item {
        width: 25%;
        font-size: 1rem;
        padding: .5rem;
    }
}

@media(min-width: 1024px) {
    :host {
        max-width: 60%;
        margin-top: 5rem;
    }

    .users-controls__item {
        font-size: 1rem;
        padding: .5rem;
    }
}